<mat-toolbar class="navbar">
    <div class="navbar-logo">
      
    </div>
    
    <span class="navbar-title">Login Victor Adrián</span>
    
    <span class="spacer"></span>
    
    <nav class="navbar-links">
      <a mat-button routerLink="/inicio">Inicio</a>
      <a mat-button routerLink="/sobre">Contacto</a>
      <a mat-button routerLink="/servicios">Productos</a>
      <a mat-button routerLink="/contacto">Blog</a>
    </nav>
    
    <button mat-raised-button color="accent" class="login-button">Salir</button>
  </mat-toolbar>
  