.navbar {
    background-color: #2a2a2a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .mat-menu {
    background-color: white;
    border-radius: 4px;
  }
  
  .navbar-title {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 10px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .navbar-links a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #00d2ff;
  }
  
  .login-button {
    font-weight: bold;
    background-color: #3a7bd5;
    color: #ffffff;
    margin-left: 15px;
    border-radius: 20px;
    padding: 5px 15px;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .login-button:hover {
    background-color: #5679c5;
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .navbar-links a, .login-button {
      display: none;
    }
}
 
.example-card {
  max-width: 400px;

}

.color-barra{
  background: linear-gradient(90deg, #aa37a1, #bb86fc); /* Degradado de izquierda a derecha */


}

.header-centered {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
}
.user-info{
  background-color: #ffffff;

}
.example-header-image {
 
  background-image: url('/user.jpg');
  background-size: cover;

}
.center-content{
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  text-align: center;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-top: 10px;
}

.mat-button {
  width: 30%;
  display: block;
  margin: 10px 0;
  color: #ffffff; 
  height: 35px;
  background-color: #3a7bd5; 
  border: none; 
  border-radius: 8px; 
  font-size: 16px; 
  font-weight: 500; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; 
  cursor: pointer;
}

.mat-button:hover {
  background-color: #5679c5; 
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
}

.mat-button:active {
  background-color: #2c5ca9; 
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15); 
  transform: scale(0.98); 
}
.button-container {
display: flex;
justify-content: center; 
margin-top: 1%; 
}